// styles.scss

// font-family: 'Lato', sans-serif;
// font-family: 'Playfair Display', serif; 
html {
  font-family: sans-serif; }
body {
  background: white;
  font-size: 15px; }
.navbar {
    margin-bottom: 0px;
    padding-right: 1em; }
.project-descrip {
    border: 1px solid #acacac;
        min-height: 25em; }
  h1 {
    text-transform: uppercase;
    vertical-align: middle;
    width:100%;
    display: inline-block;
    height:50%;
    position: absolute;
    top: 0;
    bottom:0%;
    margin: auto;
    .smile {font-size: 1.6em;
      color: #f35626;
      background-image: -webkit-linear-gradient(92deg,#f35626,#feab3a);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      -webkit-animation: hue 60s infinite linear;}
  }
  h2 {
    vertical-align: middle;
    width:100%;
    display: inline-block;
    height:50%;
    position: absolute;
    top: 0;
    bottom:0%;
    margin: auto;
  }


  footer {
    p {
    text-align: center; }
  }

.projects {
  background: #fff;
  .project-one {
    border: 1px solid red;}
  .project-descrip {
    background: url(../images/lettering-1.png);
    height: 30em;}
  p {
    font-family: Arial; }
  button {
    text-transform: uppercase; }
}

.jumbotron {
  background-color: #efefef;/*default*/
  /* background: no-repeat center/100% url("../images/tachi-8.jpg"); */
  transition: background-color 3s ease; /* future-proof */
  -webkit-transition: background-color 3s ease;
  -o-transition: background-color 3s ease;
  -moz-transition: background-color 3s ease;
  -ms-transition: background-color 3s ease;/* IE10+ only */
  padding: 5em inherit;
  min-height: 100vh; }

  @-webkit-keyframes hue {
    from {-webkit-filter: hue-rotate(0deg); }
    to {-webkit-filter: hue-rotate(360deg);}
  }
