.body {
  background: white;
  font-size: 15px; }

.navbar {
  margin-bottom: 0px;
  padding-right: 1em; }

.project-descrip {
  border: 1px solid #acacac;
  min-height: 25em; }

h1 {
  text-transform: uppercase; }

.projects img {
  background-color: #fff;
  overflow: hidden; }

.projects button {
  text-transform: uppercase; }

.jumbotron {
  background-color: #efefef;
  /*default*/
  transition: background-color 3s ease;
  /* future-proof */
  -webkit-transition: background-color 3s ease;
  -o-transition: background-color 3s ease;
  -moz-transition: background-color 3s ease;
  -ms-transition: background-color 3s ease;
  /* IE10+ only */
  padding: 5em inherit;
  min-height: 100vh; }
