$primary-blue: #161e29;

$off-white: #efefef;

$link-bg-active: #161e29;
$link-underline: #86c5f2;
$link-underline-active: #efefef;

$divider: #363d54;

$font-rubik: Rubik, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
$font-ptserif: "PT Serif", "Bodoni MT", Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;